<h4> Companies Sorted by Location </h4> 
<ol>
<% @companies.each do |company| %>
<li><%= company.name %>: <%= company.city %></li>
<% company.jobs.each do |job| %>
  <%= job.title %></br>
  <% end  %>
<% end %>
</ol>
